<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Labs iSDK</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<link rel="stylesheet" type="text/css"
			href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<script type="text/javascript"
			src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Labs iSDK</a>
				</div>
			</div>
		</nav>
	
		<div class="container">
	
			<div class="starter-template">
				<h2>Entry points</h2>
				<div class="alert alert-info" role="alert" th:if="${message!=null}" th:text="${message}"></div>
				<div class="alert alert-danger" role="alert" th:if="${errormsg!=null}" th:text="${errormsg}"></div>
				<ul>
					<li><a th:href="@{/httperror}">Http error</a></li>
					<li><a th:href="@{/tcpclient}">TCP Client -> TCP Server</a></li>
				</ul>
			</div>
	
		</div>
		<!-- /.container -->
	
	</body>
</html>